.makeorder {
  flex: 1;
}
.makeorder .order-details {
  width: 25em;
}
.makeorder .order-details form .card {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.makeorder .order-details form .card .table-group, .makeorder .order-details form .card .servant-group, .makeorder .order-details form .card .food-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  position: relative;
}
.makeorder .order-details form .card .table-group label, .makeorder .order-details form .card .servant-group label, .makeorder .order-details form .card .food-group label {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}
.makeorder .order-details form .card .table-group input, .makeorder .order-details form .card .servant-group input, .makeorder .order-details form .card .food-group input {
  border-radius: 0.25em;
  border: 1px solid #333;
  font-size: 1em;
  padding: 0.25em;
  cursor: pointer;
}
.makeorder .order-details form .card .table-group .dropdown, .makeorder .order-details form .card .servant-group .dropdown, .makeorder .order-details form .card .food-group .dropdown {
  position: absolute;
  right: 0;
  top: 3em;
  background-color: red;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  border-radius: 0.5em;
}
.makeorder .order-details form .card .table-group .dropdown .table-menu, .makeorder .order-details form .card .table-group .dropdown .tableNumber-menu, .makeorder .order-details form .card .table-group .dropdown .servant-menu, .makeorder .order-details form .card .table-group .dropdown .meal-menu, .makeorder .order-details form .card .servant-group .dropdown .table-menu, .makeorder .order-details form .card .servant-group .dropdown .tableNumber-menu, .makeorder .order-details form .card .servant-group .dropdown .servant-menu, .makeorder .order-details form .card .servant-group .dropdown .meal-menu, .makeorder .order-details form .card .food-group .dropdown .table-menu, .makeorder .order-details form .card .food-group .dropdown .tableNumber-menu, .makeorder .order-details form .card .food-group .dropdown .servant-menu, .makeorder .order-details form .card .food-group .dropdown .meal-menu {
  width: 100%;
}
.makeorder .order-details form .card .table-group .dropdown li, .makeorder .order-details form .card .servant-group .dropdown li, .makeorder .order-details form .card .food-group .dropdown li {
  list-style: none;
  padding: 0.3em 0.2em;
  border-top: 1px solid #333;
  cursor: pointer;
}
.makeorder .order-details form .card .table-group .dropdown .menu-primary-enter, .makeorder .order-details form .card .servant-group .dropdown .menu-primary-enter, .makeorder .order-details form .card .food-group .dropdown .menu-primary-enter {
  transform: translateX(-110%);
}
.makeorder .order-details form .card .table-group .dropdown .menu-primary-enter-active, .makeorder .order-details form .card .servant-group .dropdown .menu-primary-enter-active, .makeorder .order-details form .card .food-group .dropdown .menu-primary-enter-active {
  transform: translateX(0%);
  transition: 500ms ease;
}
.makeorder .order-details form .card .table-group .dropdown .menu-primary-exit, .makeorder .order-details form .card .servant-group .dropdown .menu-primary-exit, .makeorder .order-details form .card .food-group .dropdown .menu-primary-exit {
  position: absolute;
}
.makeorder .order-details form .card .table-group .dropdown .menu-primary-exit-active, .makeorder .order-details form .card .servant-group .dropdown .menu-primary-exit-active, .makeorder .order-details form .card .food-group .dropdown .menu-primary-exit-active {
  transform: translateX(-110%);
  transition: 500ms ease;
}
.makeorder .order-details form .card .table-group .dropdown .menu-secondary-enter, .makeorder .order-details form .card .servant-group .dropdown .menu-secondary-enter, .makeorder .order-details form .card .food-group .dropdown .menu-secondary-enter {
  transform: translateX(110%);
}
.makeorder .order-details form .card .table-group .dropdown .menu-secondary-enter-active, .makeorder .order-details form .card .servant-group .dropdown .menu-secondary-enter-active, .makeorder .order-details form .card .food-group .dropdown .menu-secondary-enter-active {
  transform: translateX(0%);
  transition: 500ms ease;
}
.makeorder .order-details form .card .table-group .dropdown .menu-secondary-exit, .makeorder .order-details form .card .servant-group .dropdown .menu-secondary-exit, .makeorder .order-details form .card .food-group .dropdown .menu-secondary-exit {
  position: absolute;
}
.makeorder .order-details form .card .table-group .dropdown .menu-secondary-exit-active, .makeorder .order-details form .card .servant-group .dropdown .menu-secondary-exit-active, .makeorder .order-details form .card .food-group .dropdown .menu-secondary-exit-active {
  transform: translateX(-110%);
  transition: 500ms ease;
}/*# sourceMappingURL=makeOrder.css.map */