$inputPadding: 1em;
.makeorder{
    flex: 1;
    .order-details{
        width: 100%;
        height: 20em;
        background-color: red;
        display: flex;
        justify-content: center;
        form{
            width: 40em;
            background-color: blue;
            display: flex;
            justify-content: center;
            position: relative;
            .card{
                width: 25em;
                background-color: #fff;
                border: 1px solid #333;
                border-radius: .5em;
                padding: .5em;
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                // position: absolute;
                height: 100%;
                display: none;
                &.active{
                    // position: static;
                    display: flex;
                    animation: slide 500ms 500ms ease-in-out both;
                }
                &.hide{
                    animation: fade 500ms ease-in-out forwards;
                }
                // overflow-y: auto;
                &__name{
                    text-align: center;
                }
                .table-group,.servant-group,.food-group{
                    display: flex;
                    flex-direction: column;
                    gap: .25em;
                    position: relative;
                    label{
                        font-weight: bold;
                        font-size: .8em;
                        color: #333;
                    }
                    input{
                        border-radius: .25em;
                        border: 1px solid #ccc;
                        font-size: 1em;
                        padding: $inputPadding;
                        cursor: pointer;
                        outline: none;
                    }
                    .dropdown{
                        position: absolute;
                        right: 0;
                        top: 4.425em;
                        background-color: red;
                        width: 100%;
                        max-height: 10em;
                        overflow-y: auto;
                        overflow-x: hidden;
                        z-index: 10;
                        border-radius: .5em;
                        .table-menu, .tableNumber-menu, .servant-menu, .meal-menu{
                            width: 100%;
                        }
                        li{
                            list-style: none;
                            padding: .3em .2em;
                            border-top: 1px solid #333;
                            cursor: pointer;
                        }
                        .menu-primary{
                            &-enter{
                                // position: absolute;
                                transform: translateX(-110%);
                                &-active{
                                    transform: translateX(0%);
                                    transition: 500ms ease;
                                }
                            }
                            &-exit{
                                position: absolute;
                                &-active{
                                    transform: translateX(-110%);
                                    transition: 500ms ease;
                                }
                            }
                        }
                        .menu-secondary{
                            &-enter{
                                transform: translateX(110%);
                                &-active{
                                    transform: translateX(0%);
                                    transition: 500ms ease;
                                }
                            }
                            &-exit{
                                position: absolute;
                                &-active{
                                    transform: translateX(-110%);
                                    transition: 500ms ease;
                                }
                            }
                        }
                    }
                }
                .create-button{
                    text-align: center;
                    button{
                        width: 7em;
                        padding: 0.625em 0.3125em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes slide {
    0%{
        transform: translateX(200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(.75);
        opacity: 0;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}